*,*::after,*::before {box-sizing: inherit}
html {
	box-sizing: border-box;
}
body {
	font-family: "PT Sans", "Tahoma", sans-serif;
	width: 1200px;
	margin-left: 42px;
	margin-right: 42px;
	text-transform: uppercase;
}

.title {
	font-size: 21px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;

}

.subtitle {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.subsubtitle {
	font-size: 30px;
	line-height: 24 px;
	font-weight: normal;
	color: #000000;
}

.main-header {
	background-color: pink;
}

.comtainer {
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-nav-left, .index-logo {
	float: left;
}

.main-nav-left {
	width: 480px;

}

.index-logo {
	width: 245px;
}

.main-nav-right {
	float: right;
	width: 480px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.banner {
	width: 1200px;
	height: 800px;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	padding-top: 76px;
	text-align: center;
}

.caption {
	display: block;
	min-height: 154px;
	background-color: yellow;
	text-align: center;
	padding-top: 63px;
}

.caption .title p {
	font-size: 14px;
	line-height: 26 px;
	font-weight: normal;
	color: #333333;
}

.row-1 {
	display: inline-block;
	vertical-align: top;
}

.row-1 .column:nth-child(1) {
	width: 306px;
	height: 230px;
	background-color: #81b3d2;
	float: left;
	text-align: center;
	color: #ffffff;
	padding-top: 20px;
	padding-right: 47px;
	padding-left: 47px;
	padding-bottom: 6px;
}

.row-1 .column:nth-child(2) {
	float: right;
}



.row-1 .column:nth-child(1) p,
.row-1 .column:nth-child(1) span,
.row-3 .column:nth-child(2) p,
.row-3 .column:nth-child(2) span,
.row-4 .column p,
.row-4 .column span {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
}

.row-1 .column:nth-child(1) p,
.row-1 .column:nth-child(1) span {
	color: #ffffff;
}

.row-4 .column p,
.row-4 .column span {
	color: #333333;
}

.row-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 330px;
	background-color: pink;
}

.row-3 .column:nth-child(1) {
	float: left;
}

.row-3 .column:nth-child(2) {
	width: 306px;
	height: 230px;
	background-color: #81b3d2;
	float: left;
	text-align: center;
	color: #ffffff;
	padding-top: 20px;
	padding-right: 47px;
	padding-left: 47px;
	padding-bottom: 6px;
}

.row-4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 330px;
	background-color: #eeeeee;
	clear: both;
	text-align: center;
}

.search {
	background-color: pink;
	text-align: center;
	height: 150px;
}

.search p {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
}

.search-hotel {
	background-color: yellow;
	height: 86px;
	width: 576px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	color: #ffffff;
	position: relative;

}

.form {
	width: 576px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

.main-footer {
	padding-top: 54px;
	padding-bottom: 39px;
}

.visit-sedona {
	float: left;
	width: 400px;
	background-color: grey;
	margin-right: 59px;
}

.footer-social {
	float: left;
	width: 283px;
	background-color: green;
	margin-right: 59px;
}

.footer-copyright {
	float: right;
	width: 400px;
	background-color: grey;
}

